In [293]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h3 style="color:orange;">Especificando os tipos dos atributos ao abrir o DataFrame, observa-se que "vendas" está no formato brasileiro (vírgula) e classificada como <i>object</i>, exigindo tratamento.</h3>

In [295]:
#Ao todo temos 6 atributos
tipos_de_dados = {
    'ANO': int,
    'MÊS': str,  
    'GRANDE REGIÃO': str,
    'UNIDADE DA FEDERAÇÃO': str,
    'PRODUTO': str,
    'VENDAS': float #passo direto como float ao abrir  
}

<h1 style="color:orange;">Carrega o Dataset Vendas de Derivados de Petróleo e Biocombustíveis (m³) - 90.072 linhas × 6 colunas</h1>

In [297]:
df = pd.read_csv('vendas-combustiveis-m3-1990-2024.csv', sep=';',  dtype=tipos_de_dados, decimal=',')

In [298]:
df

,ANO,MÊS,GRANDE REGIÃO,UNIDADE DA FEDERAÇÃO,PRODUTO,VENDAS
0,1990,JAN,REGIÃO CENTRO-OESTE,GOIÁS,ETANOL HIDRATADO,29876.051
1,1990,SET,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,20544.692
2,1990,OUT,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,15368.064
3,1990,NOV,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,34415.728
4,1990,FEV,REGIÃO CENTRO-OESTE,GOIÁS,ETANOL HIDRATADO,21750.741
...,...,...,...,...,...,...
90067,2024,ABR,REGIÃO NORTE,RORAIMA,ÓLEO DIESEL,26055.810
90068,2024,ABR,REGIÃO NORTE,TOCANTINS,ÓLEO DIESEL,105345.100
90069,2024,MAR,REGIÃO NORTE,TOCANTINS,ÓLEO DIESEL,107549.707
90070,2024,JUL,REGIÃO NORTE,AMAZONAS,ÓLEO DIESEL,91205.356
90071,2024,AGO,REGIÃO NORDESTE,CEARÁ,ÓLEO DIESEL,111733.400

<h2 style="color:orange;">Pré-processamento</h2>

In [300]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90072 entries, 0 to 90071
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ANO                   90072 non-null  int32
 1   MÊS                   90072 non-null  object
 2   GRANDE REGIÃO         90072 non-null  object
 3   UNIDADE DA FEDERAÇÃO  90072 non-null  object
 4   PRODUTO               90072 non-null  object
 5   VENDAS                90072 non-null  float64
dtypes: float64(1), int32(1), object(4)
memory usage: 3.8+ MB

In [301]:
df.isnull().sum()

ANO                     0
MÊS                     0
GRANDE REGIÃO           0
UNIDADE DA FEDERAÇÃO    0
PRODUTO                 0
VENDAS                  0
dtype: int64

In [302]:
df.nunique()

ANO                        35
MÊS                        12
GRANDE REGIÃO               5
UNIDADE DA FEDERAÇÃO       27
PRODUTO                     8
VENDAS                  78740
dtype: int64

In [303]:
df.dtypes

ANO                       int32
MÊS                      object
GRANDE REGIÃO            object
UNIDADE DA FEDERAÇÃO     object
PRODUTO                  object
VENDAS                  float64
dtype: object

In [304]:
df.duplicated().sum()

0

In [305]:
produtos_unicos = df['PRODUTO'].unique()

print(produtos_unicos)

['ETANOL HIDRATADO' 'GASOLINA C' 'GASOLINA DE AVIAÇÃO' 'GLP'
 'QUEROSENE DE AVIAÇÃO' 'QUEROSENE ILUMINANTE' 'ÓLEO COMBUSTÍVEL'
 'ÓLEO DIESEL']

<h1 style="color:orange;">Contando a ocorrência de cada valor</h1>

In [307]:
conta_produtos = df['PRODUTO'].value_counts()
conta_produtos

PRODUTO
ETANOL HIDRATADO        11259
GASOLINA C              11259
GASOLINA DE AVIAÇÃO     11259
GLP                     11259
QUEROSENE DE AVIAÇÃO    11259
QUEROSENE ILUMINANTE    11259
ÓLEO COMBUSTÍVEL        11259
ÓLEO DIESEL             11259
Name: count, dtype: int64

In [308]:
conta_mes = df['MÊS'].value_counts()
conta_mes

MÊS
JAN    7560
SET    7560
FEV    7560
JUL    7560
MAI    7560
MAR    7560
AGO    7560
JUN    7560
ABR    7560
OUT    7344
NOV    7344
DEZ    7344
Name: count, dtype: int64

In [309]:
conta_vendas = df['VENDAS'].value_counts()
conta_vendas

VENDAS
0.000         6605
10.000         273
5.000          249
15.000         213
20.000         165
              ...
1762.316         1
1846.196         1
2196.345         1
1695.980         1
111733.400       1
Name: count, Length: 78740, dtype: int64

In [310]:
conta_ano = df['ANO'].value_counts()
conta_ano

ANO
1990    2592
2016    2592
2010    2592
2011    2592
2012    2592
2013    2592
2014    2592
2015    2592
2017    2592
2008    2592
2018    2592
2019    2592
2020    2592
2021    2592
2022    2592
2023    2592
2009    2592
2007    2592
1991    2592
1998    2592
1992    2592
1993    2592
1994    2592
1995    2592
1996    2592
1997    2592
1999    2592
2006    2592
2000    2592
2001    2592
2002    2592
2003    2592
2004    2592
2005    2592
2024    1944
Name: count, dtype: int64

<h3 style="color:orange;">Separando dados em númericos e categóricos</h3>

In [312]:
df_categorico = df.select_dtypes(include=['object'])
df_numerico = df.select_dtypes(include=['number'])

<h3 style="color:orange;">Categórico</h3>

In [314]:
df_categorico

       MÊS        GRANDE REGIÃO UNIDADE DA FEDERAÇÃO           PRODUTO
0      JAN  REGIÃO CENTRO-OESTE                GOIÁS  ETANOL HIDRATADO
1      SET  REGIÃO CENTRO-OESTE     DISTRITO FEDERAL  ETANOL HIDRATADO
2      OUT  REGIÃO CENTRO-OESTE     DISTRITO FEDERAL  ETANOL HIDRATADO
3      NOV  REGIÃO CENTRO-OESTE     DISTRITO FEDERAL  ETANOL HIDRATADO
4      FEV  REGIÃO CENTRO-OESTE                GOIÁS  ETANOL HIDRATADO
...    ...                  ...                  ...               ...
90067  ABR         REGIÃO NORTE              RORAIMA       ÓLEO DIESEL
90068  ABR         REGIÃO NORTE            TOCANTINS       ÓLEO DIESEL
90069  MAR         REGIÃO NORTE            TOCANTINS       ÓLEO DIESEL
90070  JUL         REGIÃO NORTE             AMAZONAS       ÓLEO DIESEL
90071  AGO      REGIÃO NORDESTE                CEARÁ       ÓLEO DIESEL

[90072 rows x 4 columns]

<h2 style="color:orange;">Numérico</h2>

In [316]:
df_numerico

        ANO      VENDAS
0      1990   29876.051
1      1990   20544.692
2      1990   15368.064
3      1990   34415.728
4      1990   21750.741
...     ...         ...
90067  2024   26055.810
90068  2024  105345.100
90069  2024  107549.707
90070  2024   91205.356
90071  2024  111733.400

[90072 rows x 2 columns]

<h3 style="color:orange;">Transformando variáveis categóricas</h3>

<h5> style="color:orange;">Transformando o mês em números ordinais manualmente devido o label encoder considerar ordem alfabética</h3>

<h4 style="color:orange;">Transformando o mês em números ordinais manualmente devido o label encoder considerar ordem alfabética</h3>

In [320]:
mes_map = {
    "JAN": 1, "FEV": 2, "MAR": 3, "ABR": 4,
    "MAI": 5, "JUN": 6, "JUL": 7, "AGO": 8,
    "SET": 9, "OUT": 10, "NOV": 11, "DEZ": 12
}

df['MÊS_NUM'] = df['MÊS'].map(mes_map)

# Exibir os primeiros resultados para verificar
print(df[['MÊS', 'MÊS_NUM']].head())

   MÊS  MÊS_NUM
0  JAN        1
1  SET        9
2  OUT       10
3  NOV       11
4  FEV        2

In [321]:
df

,ANO,MÊS,GRANDE REGIÃO,UNIDADE DA FEDERAÇÃO,PRODUTO,VENDAS,MÊS_NUM
0,1990,JAN,REGIÃO CENTRO-OESTE,GOIÁS,ETANOL HIDRATADO,29876.051,1
1,1990,SET,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,20544.692,9
2,1990,OUT,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,15368.064,10
3,1990,NOV,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,34415.728,11
4,1990,FEV,REGIÃO CENTRO-OESTE,GOIÁS,ETANOL HIDRATADO,21750.741,2
...,...,...,...,...,...,...,...
90067,2024,ABR,REGIÃO NORTE,RORAIMA,ÓLEO DIESEL,26055.810,4
90068,2024,ABR,REGIÃO NORTE,TOCANTINS,ÓLEO DIESEL,105345.100,4
90069,2024,MAR,REGIÃO NORTE,TOCANTINS,ÓLEO DIESEL,107549.707,3
90070,2024,JUL,REGIÃO NORTE,AMAZONAS,ÓLEO DIESEL,91205.356,7
90071,2024,AGO,REGIÃO NORDESTE,CEARÁ,ÓLEO DIESEL,111733.400,8

<h3 style="color:orange;">One-Hot Encoding para PRODUTO, GRANDE REGIÃO E UNIDADE DE FEDERAÇÃO</h3>

In [323]:
# One-Hot Encoding para PRODUTO
df = pd.get_dummies(df, columns=['PRODUTO'], drop_first=True)
df = pd.get_dummies(df, columns=['GRANDE REGIÃO'], drop_first=True)
df = pd.get_dummies(df, columns=['UNIDADE DA FEDERAÇÃO'], drop_first=True)

In [324]:
df = df.drop(columns=["MÊS"]) #dropa a coluna mês

In [325]:
df

,ANO,VENDAS,MÊS_NUM,PRODUTO_GASOLINA C,PRODUTO_GASOLINA DE AVIAÇÃO,PRODUTO_GLP,PRODUTO_QUEROSENE DE AVIAÇÃO,PRODUTO_QUEROSENE ILUMINANTE,PRODUTO_ÓLEO COMBUSTÍVEL,PRODUTO_ÓLEO DIESEL,...,UNIDADE DA FEDERAÇÃO_PIAUÍ,UNIDADE DA FEDERAÇÃO_RIO DE JANEIRO,UNIDADE DA FEDERAÇÃO_RIO GRANDE DO NORTE,UNIDADE DA FEDERAÇÃO_RIO GRANDE DO SUL,UNIDADE DA FEDERAÇÃO_RONDÔNIA,UNIDADE DA FEDERAÇÃO_RORAIMA,UNIDADE DA FEDERAÇÃO_SANTA CATARINA,UNIDADE DA FEDERAÇÃO_SERGIPE,UNIDADE DA FEDERAÇÃO_SÃO PAULO,UNIDADE DA FEDERAÇÃO_TOCANTINS
0,1990,29876.051,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1990,20544.692,9,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1990,15368.064,10,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1990,34415.728,11,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1990,21750.741,2,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90067,2024,26055.810,4,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
90068,2024,105345.100,4,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
90069,2024,107549.707,3,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
90070,2024,91205.356,7,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
90071,2024,111733.400,8,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [326]:
# Calcular a matriz de correlação
corr_matrix = df.corr()

# Exibir as top 10 correlações com a variável alvo "VENDAS"
print("Top 10 correlações com VENDAS:")
print(corr_matrix['VENDAS'].sort_values(ascending=False).head(10))

print("\nTop 10 correlações negativas com VENDAS:")
print(corr_matrix['VENDAS'].sort_values(ascending=False).tail(10))

Top 10 correlações com VENDAS:
VENDAS                                 1.000000
UNIDADE DA FEDERAÇÃO_SÃO PAULO         0.528416
GRANDE REGIÃO_REGIÃO SUDESTE           0.375728
PRODUTO_ÓLEO DIESEL                    0.348892
PRODUTO_GASOLINA C                     0.172336
UNIDADE DA FEDERAÇÃO_MINAS GERAIS      0.156460
ANO                                    0.096273
GRANDE REGIÃO_REGIÃO SUL               0.088874
UNIDADE DA FEDERAÇÃO_PARANÁ            0.081803
UNIDADE DA FEDERAÇÃO_RIO DE JANEIRO    0.058868
Name: VENDAS, dtype: float64

Top 10 correlações negativas com VENDAS:
UNIDADE DA FEDERAÇÃO_ALAGOAS    -0.062647
UNIDADE DA FEDERAÇÃO_SERGIPE    -0.065413
UNIDADE DA FEDERAÇÃO_AMAPÁ      -0.073149
UNIDADE DA FEDERAÇÃO_RORAIMA    -0.074122
PRODUTO_ÓLEO COMBUSTÍVEL        -0.083428
PRODUTO_QUEROSENE DE AVIAÇÃO    -0.094134
GRANDE REGIÃO_REGIÃO NORDESTE   -0.147260
PRODUTO_QUEROSENE ILUMINANTE    -0.151537
PRODUTO_GASOLINA DE AVIAÇÃO     -0.151854
GRANDE REGIÃO_REGIÃO NORTE      -0.169825
Name: VENDAS, dtype: float64